body {
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \5b8b\4f53;
  display: flex;
  height: 300px;
  width: 600px;
  background: #fff;
}

#container {
  display: flex;
  height: 300px;
  width: 600px;
}

.pop-left {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  width: 160px;
  border-right: 1px solid #f0f0f0;
  padding: 10px 0;
  box-sizing: border-box;
  background: #fbfbfb;
}

.pop-left li {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  color: #223344;
  cursor: pointer;
  padding: 0 20px;
  margin: 20px 0;
}

.pop-left li:after {
  content: '';
  position: absolute;
  z-index: 2;
  right: -0.5px;
  top: 0;
  height: 100%;
  transform: scale(0);
  width: 2px;
  background: #ea4c89;
  border-radius: 10px;
}

.pop-left li:hover {
  color: #ea4c89;
}

.pop-left li.on {
  color: #ea4c89;
}

.pop-left li.on:after,
.pop-left li:hover::after {
  transform: scale(1);
  transition: transform 0.35s ease-out;
  transform-origin: 50%;
}

.pop-left li:hover .icon-setting {
  transform: rotate(180deg);
  transition: transform 0.5s 0.1s ease-out;
}

.pop-left li .icon-about {
  transform: scale(1);
  transition: transform 0.15s ease-out;
}

.pop-left li:hover .icon-about {
  transform: scale(1.1);
}

.pop-left li i {
  position: relative;
  z-index: 1;
  top: 1px;
  font-size: 19px;
  display: block;
  margin: 0 10px 0 0;
}

.pop-left li .desc {
  font-size: 12px;
}

.pop-right {
  width: 100%;
}

.page-about .icon {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #f8f8f8;
  margin: 0 20px 0 0;
}

.page-about h2 {
  position: relative;
  z-index: 1;
  font-size: 19px;
  color: #223344;
  font-weight: 500;
  display: block;
  line-height: 40px;
  margin: 5px 0 0;
}

.page-about h4 {
  display: block;
  margin: 10px 0 0;
  font-size: 15px;
  color: #323232;
  opacity: 0.9;
  font-weight: normal;
}

.page-about p {
  margin: 30px 0 0;
  font-size: 12px;
  color: #323232;
  opacity: 0.9;
  font-weight: normal;
  line-height: 1.8;
}

.page-about p a {
  color: #ea4c89;
  font-weight: 500;
  text-decoration: underline;
}

.page-about footer {
  margin: 90px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 1px solid #f4f4f4;
  font-size: 12px;
  color: #aaa;
}

.page-about h2 .version {
  position: absolute;
  z-index: 1;
  left: 145px;
  top: -5px;
  font-size: 12px;
  color: #aaa;
  border-radius: 2px;
  background: #f4f4f4;
  padding: 5px 12px;
  line-height: 15px;
  transform: scale(0.6);
  transform-origin: 0 100%;
  /*  transform: scale(.7) rotate(35deg);
   opacity: 0; */
}

.page-about h2 .version:before {
  position: absolute;
  z-index: 1;
  bottom: -8px;
  left: 10px;
  content: '';
  width: 0;
  height: 0;
  border-top: 8px solid #eee;
  border-right: 10px solid transparent;
}

.page-about {
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.page-setting {
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.switch-1 .page-about {
  opacity: 1;
  height: 300px;
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  transition: opacity 0.35s ease-out;
}

.switch-0 .page-setting {
  opacity: 1;
  height: 300px;
  padding: 20px 0;
  box-sizing: border-box;
  transition: opacity 0.35s ease-out;
  width: 100%;
}
.list-h3 {
  font-size: 21px;
  line-height: 36px;
  color: #223344;
  display: block;
  margin: 0 0 15px;
  padding: 0 30px;
  box-sizing: border-box;
}
.list-ul {
  position: relative;
  z-index: 1;
  padding: 1px 0;
}
.list-ul::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 200%;
  height: 200%;
  border: 1px solid #eaeaea;
  transform: scale(0.5);
  transform-origin: 0 0;
}
.list-li {
  position: relative;
  z-index: 2;
  padding: 10px 30px;
  box-sizing: border-box;
  background: #fff;
  color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-li .title {
  font-size: 14px;
  line-height: 30px;
  display: block;
}
.list-li .desc {
  font-size: 12px;
  line-height: 16px;
  color: #888;
  transform: scale(0.9);
  transform-origin: 0 50%;
}
.list-switch {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 22px;
  border-radius: 2px;
  background: #f8f8f8;
  box-shadow: inset 0 1px 3px rgba(35, 35, 35, 0.05);
  cursor: pointer;
  transition: background 0.25s ease-in;
}
.list-switch .swiper {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 50%;
  border-radius: 2px;
  background: #fff;
  animation: list-switch-swiper-Hidden 0.35s ease-in forwards;
  box-shadow: 0 2px 4px rgba(35, 35, 35, 0.05);
}
.list-switch .swiper::after {
  content: '\e67c';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 200%;
  height: 200%;
  box-shadow: 0 0 0 1px #f4f4f4;
  transform: scale(0.5);
  transform-origin: 0 0;
  border-radius: 4px;
  font-family: zler;
  font-size: 30px;
  text-align: center;
  line-height: 44px;
  color: #dcdcdc;
}
.list-switch.choose {
  background: #ea4c89;
  transition: background 0.4s 0.1s ease-out;
}
.list-switch.choose .swiper {
  animation: list-switch-swiper-Show 0.35s cubic-bezier(0.11, 0.18, 0.82, 1.26)
    forwards;
}
@keyframes list-switch-swiper-Hidden {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  50% {
    width: 55%;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes list-switch-swiper-Show {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    width: 60%;
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
.list-li:not(:last-of-type) {
  border-bottom: 1px solid #f4f4f4;
}

.button-update {
  position: absolute;
  z-index: 1;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  line-height: 40px;
  color: #cacaca;
  font-size: 12px;
  transform: scale(0.9);
  cursor: pointer;
}
